@media only screen and (min-width: 650px) {
  .menu {
    display: none;
  }
  #secbb {
    display: none;
  }
  .wrap {
    width: 100%;
    top: 0;
    font-family: Arial, sans-serif, Microsoft YaHei;
    box-shadow: 0 1px 2px gray;
  }
  .wrap .nav_phone {
    display: none;
  }
  .wrap .nav_pc {
    overflow: hidden;
    height: 65px;
    max-width: 980px;
    margin: 0 auto;
  }
  .wrap .nav_pc div.logo {
    float: left;
    margin-left: 7.4%;
    width: 13%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .wrap .nav_pc div.logo a {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .wrap .nav_pc div.logo a img {
    width: 100%;
    float: left;
  }
  .wrap .nav_pc ul {
    width: 70%;
    height: 100%;
    float: right;
    display: flex;
    justify-content: space-around;
  }
  .wrap .nav_pc ul a {
    min-width: 16%;
    text-align: center;
    height: 100%;
    line-height: 65px;
    font-size: 16px;
    transition: 2s;
    text-decoration: none;
    color: black;
  }
  .wrap .nav_pc ul a:hover {
    background-color: #CFDB00;
  }
  .wrap .nav_pc ul a:nth-of-type(1) {
    background-color: #CFDB00;
  }
  section {
    margin-top: 2px;
    background-color: #f5f5f5;
    padding-bottom: 48px;
  }
  section .secFirst {
    width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #BFBFBF;
  }
  section .secFirst div {
    width: 400px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  section .secFirst div img {
    width: 98px;
  }
  section .secFirst div span {
    font-size: 2.2em;
    line-height: 130px;
    width: 196px;
    text-align: center;
    font-weight: bold;
    color: #616161;
    font-family: arial;
  }
  section .secSec {
    width: 980px;
    margin: 0 auto;
    border-bottom: 1px solid #BFBFBF;
    height: 212px;
  }
  section .secSec:hover .nodeFir {
    background-color: yellow;
  }
  section .secSec:hover .nodeSecSec h6 {
    color: black;
  }
  section .secSec:hover .nodeSecSec span {
    color: black;
  }
  section .secSec:hover a img:nth-of-type(2) {
    opacity: 0;
  }
  section .secSec a {
    display: block;
    height: 100%;
    max-width: 667px;
    width: 60%;
    position: relative;
    float: left;
  }
  section .secSec a img:nth-of-type(1) {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  section .secSec a img:nth-of-type(2) {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s;
  }
  section .secSec .nodeFir {
    width: 20px;
    height: 100%;
    background-color: #b0b0b0;
    float: left;
    transition: 0.5s;
  }
  section .secSec .nodeSecSec {
    width: 370px;
    float: left;
  }
  section .secSec .nodeSecSec h6 {
    padding-top: 15px;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
    font-size: 2.4em;
    font-family: arial;
    color: #B0B0B0;
    transition: 0.5s;
    line-height: 30px;
  }
  section .secSec .nodeSecSec span {
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #B0B0B0;
    font-family: "微软雅黑";
    padding-top: 8px;
    line-height: 26px;
    transition: 0.5s;
  }
  #HomeMidP1 {
    text-align: right;
    margin-right: 20px;
  }
  #HomeMidP2 {
    text-align: right;
    margin-right: 20px;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #BFBFBF;
  }
  footer div:nth-of-type(1) {
    width: 400px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  footer div:nth-of-type(1) img {
    width: 98px;
  }
  footer div:nth-of-type(1) span {
    font-size: 2.2em;
    line-height: 130px;
    width: 196px;
    text-align: center;
    font-weight: bold;
    color: #616161;
    font-family: arial;
  }
  footer .foot {
    padding-bottom: 90px;
  }
  footer .foot p {
    font-size: 16px;
    line-height: 24px;
    font-family: arial;
    font-weight: lighter;
    text-align: center;
    color: black;
  }
  footer .foot p:nth-of-type(4) {
    display: none;
  }
  .bot {
    border-top: 2px solid yellow;
    height: 64px;
    width: 100%;
    text-align: center;
    background-color: #B4B4B4;
    line-height: 64px;
    color: white;
    font-size: 16px;
    font-family: arial;
    font-weight: lighter;
    font-weight: bold;
  }
}
@media only screen and (max-width: 650px) {
  .wrap {
    position: fixed;
    width: 100%;
    top: 0;
    font-family: Arial, sans-serif, Microsoft YaHei;
    box-shadow: 0 1px 2px gray;
    z-index: 9999;
    background-color: white;
  }
  .wrap .nav_pc {
    display: none;
  }
  .wrap .nav_phone {
    height: 48px;
    overflow: hidden;
    max-width: 980px;
    margin: 0 auto;
  }
  .wrap .nav_phone div.logo {
    float: left;
    margin-left: 7.4%;
    width: 21%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .wrap .nav_phone div.logo a {
    display: block;
    width: 100%;
    overflow: hidden;
  }
  .wrap .nav_phone div.logo a img {
    width: 100%;
    float: left;
  }
  .wrap .nav_phone .phoneNavImg {
    float: right;
    width: 35px;
    height: 30px;
    margin-right: 50px;
    margin-top: 9px;
  }
  section {
    margin-top: 50px;
    background-color: #f5f5f5;
    padding-bottom: 48px;
  }
  section .secFirst {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #BFBFBF;
  }
  section .secFirst div {
    width: 400px;
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section .secFirst div img {
    width: 80px;
  }
  section .secFirst div span {
    font-size: 1.5em;
    line-height: 80px;
    width: 160px;
    text-align: center;
    font-weight: bold;
    color: #616161;
    font-family: arial;
  }
  section .secSec {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #BFBFBF;
    overflow: hidden;
  }
  section .secSec:hover .nodeFir {
    background-color: yellow;
  }
  section .secSec:hover .nodeSecSec h6 {
    color: black;
  }
  section .secSec:hover .nodeSecSec span {
    color: black;
  }
  section .secSec a {
    display: block;
    max-width: 667px;
    padding-top: 57px;
    width: 100%;
    float: right;
  }
  section .secSec a img:nth-of-type(1) {
    width: 100%;
    display: none;
  }
  section .secSec a img:nth-of-type(2) {
    width: 100%;
    transition: 0.5s;
  }
  section .secSec .nodeFir {
    display: none;
    width: 20px;
    height: 100%;
    background-color: #b0b0b0;
    float: left;
    transition: 0.5s;
  }
  section .secSec .nodeSecSec {
    width: 100%;
    float: left;
  }
  section .secSec .nodeSecSec h6 {
    padding-top: 15px;
    text-align: center;
    font-weight: bolder;
    margin: 0 auto;
    font-size: 2.4em;
    font-family: arial;
    color: #B0B0B0;
    transition: 0.5s;
    line-height: 30px;
    display: none;
  }
  section .secSec .nodeSecSec span {
    width: 95%;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: #B0B0B0;
    font-family: "微软雅黑";
    padding-top: 8px;
    line-height: 20px;
    transition: 0.5s;
  }
  #HomeMidP1 {
    text-align: right;
    margin-right: 20px;
  }
  #HomeMidP2 {
    text-align: center;
    margin-right: 20px;
  }
  #secaa {
    display: none;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #BFBFBF;
  }
  footer div:nth-of-type(1) {
    width: 400px;
    height: 130px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    align-items: center;
  }
  footer div:nth-of-type(1) img {
    width: 98px;
  }
  footer div:nth-of-type(1) span {
    font-size: 2.2em;
    line-height: 130px;
    width: 196px;
    text-align: center;
    font-weight: bold;
    color: #616161;
    font-family: arial;
  }
  footer .foot {
    padding-bottom: 60px;
  }
  footer .foot p {
    font-size: 14px;
    line-height: 20px;
    font-family: arial;
    font-weight: lighter;
    text-align: center;
    color: black;
    width: 400px;
    margin: 0 auto;
  }
  footer .foot p:nth-of-type(3) {
    display: none;
  }
  .bot {
    border-top: 2px solid yellow;
    height: 64px;
    width: 100%;
    text-align: center;
    background-color: #B4B4B4;
    line-height: 64px;
    color: white;
    font-size: 16px;
    font-family: arial;
    font-weight: lighter;
    font-weight: bold;
  }
  .menu {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #808080;
  }
  .menu a {
    width: 15%;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-align: center;
    color: #808080;
    text-decoration: none;
    overflow: hidden;
  }
  .menu a:hover {
    background-color: #808080;
    transition: .5s;
    color: white;
  }
  .menuarrow {
    display: none;
    background-color: white;
  }
}
/*# sourceMappingURL=home.css.map */
